* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar {
	position: relative;
	height: 50px;
	width: 100%;
	transition: 0.5s ease;
	background-color: #303030;
	text-align: center;
}

.navbar h1 {
	color: #FFFFFF;
	font-weight: 1.5;
	padding: 5px;
}
