.buttonCalculation button{
	margin: 10px;
	width: 14%;
	height: 30px;
	background-color: #089489;
	border-style: none;
}

.buttonCalculation button p {
	color: #FFFFFF;
	font-size: 1.5em;
}

.buttonCalculation p {
	color: #000000;
}